#img-bg{
	background-image: url('../../assets/frutas-direita.jpg');
	min-height: 695px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tudo{
	background-color: rgb(235, 223, 223)
}
	
