.tudo{
	
    border-radius: 20px, 20px, 20px, 20px;
    background-color:   rgb(235, 223, 223);
    
}

.bot{
    margin-left: 5.74rem;
}
.inf{
    margin-left: 1rem;
}
.btpreco{
    margin-bottom:  8px;
}
.caixa{
    margin-top: 90px;
}
